<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">


<input type="text" placeholder="Enter your name" #englishName placeholder="Enter your boring name"/>
<p><span *ngIf="awesomename">your awesome name is : <span *ngIf="awesomename">{{japaneseName}}</span></span></p>
<button value="submit" (click)="convertName($event)" class="one">Submit</button>
<button type="reset" (click)="reset($event)" class="one">Reset</button>

</div>
<!-- <div>
  <input (click)="voice()" type="button" value="🔊 Play" />
</div> -->


